@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Gloria+Hallelujah&family=M+PLUS+1+Code:wght@100..700&family=Poppins:wght@800&family=Silkscreen&display=swap");

body {
  margin: 0%;
  font-family: "M PLUS 1 Code", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 18px;
  background-color: #dff6ff;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header {
  margin: 0%;
  background-color: #d1fedc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 0;
}

.fds {
  font-size: 23px;
  list-style-type: none;
  display: flex;
  gap: 30px;
  font-weight: bold;
  color: #0e835c;
  margin: 0%;
  cursor: pointer;
}

.titlescroll {
  justify-content: start;
  color: #0e835c;
  font-size: 38px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  display: flex;
  margin: 0%;
}

a {
  text-decoration: none;
  color: #0e835c;
}

.gifbmo {
  height: 400px;
  width: auto;
  border: 10px solid rgba(245, 245, 245, 0.582);
  border-radius: 500px;
  position: relative;
}

.gifbmo:hover {
  transform: scale(1.1);
  transition: 500ms;
}

.gifbmo:not(hover) {
  transition: 500ms;
}

.titlescroll:hover {
  transform: scale(1.1);
  transition: 500ms;
}

.titlescroll:not(hover) {
  transition: 500ms;
}

.introduction {
  margin: 50px;
  justify-content: center;
  display: flex;
  gap: 10px;
  align-items: center;
}
.name {
  font-size: 35px;
  color: #0e835c;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin: 0%;
}
.p1 {
  margin: 0%;
  font-size: 14px;
  color: rgb(41, 87, 94);
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.aboutme {
  margin-top: 200px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 30px;
  background-color: #cdfad8a1;
  margin-left: 220px;
  margin-right: 220px;
  border-radius: 50px;
}

.paboutme {
  margin: 0%;
  font-size: 40px;
  text-align: center;
  color: #0e835c;
  font-style: italic;
  font-weight: 600;
}

/* .div-bg {
  padding: 15px;
  background-color: #0e835c;
  border-radius: 3px;
  margin-top: 21px;
} */

.skillssection {
  gap: 10px;
  font-size: 40px;
  color: #0e835c;
}

.grid {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.icons {
  font-size: 100px;
}

.skillstitle {
  margin-top: 200px;
  color: #0e835c;
  font-style: italic;
  text-align: center;
}

.skillbox {
  padding: 30px;
  background-color: #cdfad8;
  margin: 15px 0;
}

header {
  position: sticky;
  top: 0;
}

a:hover {
  color: aliceblue;
  transition: 500ms;
}

.name:hover {
  color: #5bcdfa;
  transition: 500ms;
}

.bimu {
  color: #5bcdfa;
}

.name:hover .bimu {
  color: #0e835c;
  transition: 500ms;
}

.name:not(:hover) {
  color: #0e835c;
  transition: 500ms;
}

.name:not(:hover) .bimu {
  color: #5bcdfa;
  transition: 500ms;
}

.projects {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.container-projects {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.container-projects .box-projects {
  position: relative;
  width: 320px;
  height: 320px;
  transition: 0.5s;
}

.container-projects .box-projects .imgproject {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-projects:hover > :not(:hover) {
  margin: 0 -20px;
  transform: perspective(500px) rotateY(45deg) scale(0.95);
}

.container-projects .box-projects:hover ~ .box-projects {
  transform: perspective(500px) rotateY(-45deg) scale(0.95);
}

.container-projects .box-projects:hover {
  transform: perspective(500px) rotateY(0) scale(1.5);
  z-index: 1000;
}
.titleprojects {
  text-align: center;
  color: #0e835c;
  font-style: italic;
  font-size: 60px;
}

.p-projects {
  margin: 0%;
  font-size: 25px;
  color: rgb(41, 87, 94);
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.fromthestart {
  justify-content: center;
  font-family: "Silkscreen", sans-serif;
  padding: 30px;
  background-color: #cdfad8;
  margin-left: 500px;
  margin-right: 500px;
  text-align: center;
  border-radius: 100px;
}

.fading-arrow:hover {
  color: aliceblue;
  transition: 500ms;
}

.fading-arrow:not(:hover) {
  color: #0e835c;
}

.pcolor {
  color: #0e835c;
}

.pcolor:not(:hover) {
  color: #0e835c;
}
.pcolor:hover {
  color: #0e835c;
}

.imgbmologo {
  display: flex;
  width: 70px;
  margin-left: 10px;
}

.bmoskillsimg {
  width: 250px;
}

.callme {
  padding: 5px;
  background-color: #0e835c;
  color: #cdfad8;
  border-radius: 20px;
}

.callme:hover {
  transform: scale(1.1);
  transition: 500ms;
}

.callme:not(hover) {
  transition: 500ms;
}

footer {
  display: flex;
  background-color: #0e835c;
}
